<a class="project" href="{{ url }}">
    <div class="project__cover lazy-loaded" data-bgimage="{{ projectcover }}--small.jpg"></div>
        <div class="project__description">
            <span>{{ title }}</span>
        </div>
</a>