<a class="review" href="{{ url }}">
    <div class="review__cover__shadow lazy-loaded" data-bgimage="/assets/albumcovers/{{ mbid }}.jpg"></div>
    <div class="review__cover lazy-loaded" data-bgimage="/assets/albumcovers/{{ mbid }}.jpg"></div>
    <div class="review__description">
        <span class="description__title">{{ title }}</span>
        <span class="description__author">{{ author }}</span>
    </div>
</a>