# dependencies installed by npm
node_modules

# MacOS nonsense
.DS_Store

# build artefacts
public
.DS_Store
src/.DS_Store
src/.DS_Store
.DS_Store
src/.DS_Store
.DS_Store
src/project/smartlab/.DS_Store
src/project/.DS_Store
.DS_Store
