{{- define "main" }}
<main>
<div class="main-content">
    <article class="h-entry {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} {{ end }}{{ $category | lower | urlize }}{{ end }}">
        {{- if .Title }}
        <h1 class="post-title">{{ .Title | safeHTML }}</h1>
        {{- end }}
        {{- with .Params.audio }}
        <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
        {{- end }}
        <div class="e-content">
            {{ .Content }}
        </div>
        <div id="microblog-conversation__wrapper">
        <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
        </div>
        <p class="post__metadata">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                <a href="{{ .Permalink }}" class="u-url">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}</a>
            </time>
        </p>
    </article>

    </div>
</main>
{{- end }}
