{{- define "main" }}
<main>
<div class="main-content">
    <div class="transition-holder" style="view-transition-name: post-{{ .Params.post_id }}">
    <article class="h-entry {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} {{ end }}{{ $category | lower | urlize }}{{ end }}" data-time="{{ .Date.Format "15:04" }}">
        {{- if .Title }}
        <h1 class="post-title">{{ .Title | safeHTML }}</h1>
        {{- end }}
        <div class="e-content">
            {{ .Content }}
        </div>
        <div class="spinner-container"><span class="spinner"></span></div>
        <div id="microblog-conversation__wrapper" data-conversation-url="{{ .Permalink }}">
        </div>
        <div class="post__metadata">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                <a href="{{ .Permalink }}" class="u-url">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}</a>
            </time>
        </div>
    </article>
    </div>
</div>
</main>
{{- end }}
