---
title: Smartlab — A Case Study in Next-Generation Radiopharmacy Workflow Management
layout: "../_includes/base.njk"
projectcover: "/project/smartlab/assets/case-study-smartlab-ui"
company: "Comecer Netherlands"
role: "Product Owner / Designer"
projectdate: "2022 - present"
order: 1
---

{% include "partials/_projectheader.njk" %}

<section class="grid rowmargin--large">
    <div class="grid-span-6 paragraph--big maxcharacterlength--54">
        <p>In my role as Product Owner/Designer for the Smartlab project, I direct the development to advance radio-pharmaceutical management in nuclear medicine.</p>
        <p>This project challenges the norms of digital and hardware integration in a highly specialized field.</p>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-4">
        <h2>The Challenge</h2>
    </div>
    <div class="grid-span-8">
        <p>The project faces several unique challenges:</p>
        <ul class="maxcharacterlength--54">   
            <li>Tailoring the experience to suit various settings, from large production lines to small clinics. Each with distinct operational needs.</li>
            <li>Navigating complex health and safety regulations to ensure compliance while maintaining user-centric design.</li>
            <li>Bridging digital interfaces with existing radiopharmacy hardware, demanding a blend of software and hardware know-how.</li>
        </ul>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-6">
        <img loading="lazy" src="/project/smartlab/assets/case-study-smartlab-1.png" />
    </div>
    <div class="grid-span-6 rowmargin--medium">
        <img loading="lazy" src="/project/smartlab/assets/case-study-smartlab-2.png" />
    </div>
    <div class="grid-span-4">
        <h2>My Role and Contribution</h2>
    </div>
    <div class="grid-span-8">
        <p>As Product Owner/Designer, my role encompasses:</p>
        <ul>   
        <li>Conducting user research to understand needs and uphold usability standards.</li>
        <li>Collaborating with stakeholders, aligning goals with Agile design and development.</li>
        <li>Translating insights into user-friendly, regulation-compliant designs, iteratively improved in Agile cycles.</li> 
        </ul>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-7">
        <img loading="lazy" src="/project/smartlab/assets/case-study-smartlab-3.png" />
    </div>
    <div class="grid-span-5 justify--center">
        <div>
            <h2>Features of the design</h2>
            <p>The key design features include:</p>
            <ul>
                <li>Large tap targets and streamlined interactions for ease of use with gloves and other environmental limitations.</li>
                <li>Clear typography for viewing from a distance and legibility through lead glass.</li>
                <li>We've implemented a design system to ensure consistency across our company's products.</li>
            </ul>  
        </div>
    </div>
</section>

<div style="display: flex; justify-content: center; margin: 4rem 4rem 8rem 4rem;">
    <img loading="lazy" class="styledimage" src="/project/smartlab/assets/case-study-smartlab-4.png" />
</div>

<section class="project__conclusion">
    <div class="grid">
        <div class="grid-span-6">
            <h2>A Continuing Success Story</h2>
            <p class="paragraph--big maxcharacterlength--54">Smartlab aims to significantly reduced human error in nuclear medicine, enhancing operational safety and reliability. User feedback highlights the platform's efficiency and innovation, marking a notable advancement over traditional systems.</p>
        </div>
        <div class="grid-span-2"></div>
        <div style="text-align: right" class="grid-span-4">
            <img loading="lazy" src="/project/smartlab/assets/case-study-smartlab-5.jpg" class="styledimage" />
            <span>a laminar flow cabinet, where the software runs</span>
        </div>
    </div>
</section>

{% include "partials/_projectnavigation.njk" %}