:root {
    --color-background-hsl: 40, 8%, 80%;
    --color-contentbackground-hsl: 40, 8%, 84%;
    --color-sidebar-hsl: 40, 5%, 2%;
    --color-text-hsl: 40, 10%, 15%;
    --color-accent-hsl: 45, 100%, 52%;
    --color-text-accent-hsl: 45, 100%, 25%;
    --color-headings-hsl: 40, 10%, 5%;
    --paragraph-bottom-margin: 1.25rem;
    --text-size: 15px;
    --max-page-width: 720px;
    --baseline: 1.6rem;
    --font-family: system-ui, sans-serif;
    --sidebar-height: 44vh;
    /* Dynamically set from JS to account for actual rendered height */
    --menu-height: var(--sidebar-height);

    box-sizing: border-box;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html {
    min-height: 100vh;
    background-color: hsl(var(--color-background-hsl));
    background-image:
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px,
            transparent 20px
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px,
            transparent 20px
        );
    background-size: 20px 20px;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: var(--baseline);
    color: hsl(var(--color-text-hsl));
    position: relative;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body.sidebar-pushed {
    padding-top: var(--menu-height);
    transition: padding-top 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

@supports (height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

@media (min-width: 920px) {
    body {
        font-size: 17px;
    }
}

::selection {
    background-color: hsla(var(--color-text-hsl), 0.99);
    color: hsl(var(--color-background-hsl));
}

h1,
h2,
h3 {
    font-weight: 600;
    color: hsl(var(--color-headings-hsl));
    padding-bottom: calc(0.7 * var(--baseline));
}

h1:not(:first-of-type) {
    padding-top: calc(1.5 * var(--baseline));
}

h1 {
    font-size: 1.38em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.21em;
}

h4 {
    font-size: 1.14em;
}

h5 {
    font-size: 1.07em;
}

small,
.text-size-small {
    font-size: 0.88em;
}

h1 + h2 {
    margin-top: var(--baseline);
}

p + p {
    margin-top: var(--baseline);
}

p + h2,
p + h3,
p + h4 {
    margin-top: var(--baseline);
}

strong {
    font-weight: 600;
}

blockquote {
    margin: 0;
    padding: 0;
}

blockquote + p {
    margin-top: var(--baseline);
}

blockquote p {
    text-indent: -0.45em;
    /* font-style: italic; */
    color: hsla(var(--color-text-hsl), 0.8);
    margin: 0;
    padding: 0;
    line-height: var(--baseline);
}

@supports (hanging-punctuation: first) {
    blockquote p {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote p::before {
    content: open-quote;
}
blockquote p::after {
    content: close-quote;
}

a,
a:hover,
a:visited {
    color: hsl(var(--color-text-hsl));
    cursor: default;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-thickness: 0.5px;
    text-decoration-color: hsla(var(--color-text-hsl), 0.4);
    text-underline-offset: 4px;
    transition: text-decoration 0.124s cubic-bezier(0, 0.55, 0.45, 1);
}

a:hover {
    color: hsl(var(--color-text-accent-hsl));
    text-decoration-color: hsla(var(--color-text-hsl), 0);
}

.donation-icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: hsl(var(--color-text-hsl));
    transition: all 0.2s ease;
    vertical-align: baseline;
    transform: translateY(2px);
    margin: 0 0.25em;
    border: 1px solid hsla(var(--color-text-hsl), 0.1);
    border-radius: 1px;
    padding: 2px;
}

.donation-icon:hover {
    opacity: 1;
    color: hsl(var(--color-text-accent-hsl));
    text-decoration: none;
}

.donation-icon svg {
    width: 18px;
    height: 18px;
    stroke: currentColor;
}

.stripe-card-container {
    display: flex;
    margin: var(--baseline) 0;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding-top: var(--baseline);
    border: 1px solid hsla(var(--color-text-hsl), 0.1);
}

strike,
s {
    text-decoration: none;
    background-image: linear-gradient(
        transparent 10px,
        hsla(var(--color-text-hsl), 0.5) 10px,
        hsla(var(--color-text-hsl), 0.5) 11px,
        transparent 11px
    );
}

ul {
    margin: calc(var(--baseline) / 2) 0;
    padding-left: 1.5em;
    list-style: disc;
}

.single-page ul:not(.post-sources__list),
.single-page ol:not(.post-sources__list) {
    background-color: hsla(var(--color-text-hsl), 0.03);
    padding: calc(var(--baseline) / 8) calc(var(--baseline) / 2)
        calc(var(--baseline) / 8) var(--baseline);
}

ul ul {
    margin: 0;
}

li {
    margin: calc(var(--baseline) / 2) calc(var(--baseline) / 8);
    padding: 0;
    line-height: var(--baseline);
}

li > ul {
    margin-top: 0;
    margin-bottom: 0;
}

li::marker {
    color: hsla(var(--color-text-hsl), 0.4);
    font-size: 0.8em;
}

.logo {
    width: 90px;
    display: block;
    margin-bottom: var(--baseline);
}

.logo svg path {
    fill: hsl(var(--color-contentbackground-hsl)) !important;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: calc(var(--baseline) * 2) calc(var(--baseline) * 1);
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
}

.menu-button {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    color: inherit;
    outline: none;
}

.menu-button:active {
    background: none !important;
    box-shadow: none !important;
}

.menu-button:focus {
    outline: 2px dashed currentColor;
    outline-offset: 1px;
    background: transparent;
}

.menu-button svg {
    width: 32px;
    height: 32px;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}

.sidebar-pushed .menu-button svg .chevron {
    transform: rotate(180deg);
    transform-origin: 12px 23px;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

code {
    background-color: hsla(var(--color-text-hsl), 0.1);
    padding: 2px 4px;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
    font-size: 0.9em;
}

/* Code blocks */
pre {
    background-color: hsla(var(--color-text-hsl), 0.1);
    border: 1px solid hsla(var(--color-text-hsl), 0.2);
    padding: 16px;
    overflow-x: auto;
    margin: 16px 0;
}

pre code {
    background: none;
    padding: 0;
    color: inherit;
    font-size: 0.875em;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875em;
    line-height: 1.3;

    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: calc(var(--baseline) * 2) 0;
}

thead,
tbody {
    display: table-row-group;
}

tr {
    display: table-row;
}

th,
td {
    display: table-cell;
}

thead {
    background-color: hsla(var(--color-text-hsl), 0.3);
}

th {
    text-align: left;
    font-weight: bold;
    padding: 8px 16px 8px 8px;
    white-space: nowrap;
}

tbody tr:nth-of-type(even) {
    background-color: hsla(var(--color-text-hsl), 0.05);
}

td {
    text-align: left;
    vertical-align: top;
    padding: 8px 16px 8px 8px;
    border-bottom: 1px solid hsla(var(--color-text-hsl), 0.1);
}

@media screen and (max-width: 920px) {
    td {
        min-width: 14rem;
    }
}

main {
    margin: 0 auto;
    max-width: var(--max-page-width);
}

.main-content {
    /*padding-top: calc(var(--baseline) * 2);
    padding-bottom: calc(var(--baseline) * 4);
    padding-left: calc(var(--baseline) / 2);
    padding-right: calc(var(--baseline) / 2);*/
    margin: 0 auto;
    /*background-color: hsl(var(--color-contentbackground-hsl));*/
}

.main-content article {
    padding: calc(var(--baseline) * 2) calc(var(--baseline) * 2)
        calc(var(--baseline) * 1) calc(var(--baseline) * 2);
    position: relative;
    background-color: hsl(var(--color-contentbackground-hsl));
    margin: 0 0 calc(var(--baseline) * 2) 0;
    width: 100%;
    box-sizing: border-box;
}

.main-content article::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: hsl(var(--color-text-hsl), 0)
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='4'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23050505'/%3E%3C/svg%3E")
        repeat right bottom;
}

@media (min-width: 920px) {
    .main-content article::before {
        top: 16px;
        left: 16px;
    }
}

.main-content article img {
    background-color: hsl(var(--color-contentbackground-hsl));
    width: 100%;
    min-height: 580px;
    border: 1px solid hsla(var(--color-text-hsl), 0.1);
}

.post__title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.post__metadata,
.post__metadata a {
    color: hsla(var(--color-text-hsl), 0.7);
    margin-top: calc(var(--baseline) * 2);
    margin-bottom: calc(var(--baseline) * 1);
    font-size: 0.88rem;
}

.post__metadata {
    text-align: right;
}

.sidebar-bio {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 4;
    transform: translateY(-100%);
    transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

.sidebar__content {
    max-width: 460px;
    margin: 0 auto;
}

.sidebar-bio.sidebar-open {
    transform: translateY(0);
}

.sidebar-bio__inner {
    background-color: hsl(var(--color-sidebar-hsl));
    padding: calc(var(--baseline));
    color: hsl(var(--color-contentbackground-hsl));
}

.sidebar__profile-picture {
    margin-top: var(--baseline);
    border: 1px solid hsla(var(--color-text-hsl), 0.8);
}

.sidebar-bio__inner a,
.sidebar-bio__inner a:hover,
.sidebar-bio__inner a:visited {
    color: hsl(var(--color-background-hsl));
    cursor: default;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-thickness: 0.5px;
    text-decoration-color: hsla(var(--color-background-hsl), 0.4);
    text-underline-offset: 4px;
    transition: text-decoration 0.124s cubic-bezier(0, 0.55, 0.45, 1);
}

.sidebar-bio__inner a:hover {
    color: hsl(var(--color-text-accent-hsl));
    text-decoration-color: hsla(var(--color-text-hsl), 0);
}

.sidebar-bio__inner a[href^="http"]:not([href*="geff.re"])::after {
    content: "";
    background: none;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.socials__icon {
    width: 20px;
    height: 20px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid hsla(var(--color-background-hsl), 0.1);
}

form {
    /* margin: var(--baseline) auto; */
    padding: 0;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea,
select,
form button,
.donate-button {
    padding: 0.5rem;
    border: 1px solid hsla(var(--color-text-hsl), 0.3);
    background-color: transparent;
    font-size: 1em;
    color: inherit;
    font-family: inherit;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: hsla(var(--color-text-hsl), 1);
}

form button,
.donate-button {
    background: hsl(var(--color-text-hsl));
    color: hsl(var(--color-background-hsl));
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

form button:hover,
.donate-button:hover {
    background: #444;
}

.donate-button:visited {
    color: hsl(var(--color-background-hsl));
}

.sidebar-bio input:focus,
.sidebar-bio textarea:focus,
.sidebar-bio select:focus {
    outline: none;
    border-color: hsla(var(--color-background-hsl), 1);
}

.sidebar-bio form input,
.sidebar-bio form textarea,
.sidebar-bio form select,
.sidebar-bio form button {
    width: 100%;
    border: 1px solid hsla(var(--color-background-hsl), 0.3);
    margin-bottom: 12px;
}

footer {
    padding: var(--baseline);
    text-align: center;
}
