<!doctype html>
<html class="no-js" lang="">
    {% include "partials/_head.njk" %}
    <body>
            {% include "partials/_navigation.njk" %}
    		<main class="onepage--centered note">
                    <h1>{{ title }}</h1>
                    {{ content | safe }}
                    </div>
                    <div class="grid__notes">
                    {% if collections.notes.length > 0 %}
                    <ul>
                    {% for item in collections.notes %}
                            <li class="notes__item">
                                <a class="notes__content" href="{{ item.url }}">
                                    <span class="notes__heading">{{ item.data.title }}</span>
                                    <span style="margin-left: auto;" class="notes__category">{{ item.data.category }}</span>
                                </a>
                            </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        <div class="review__description">
                            <span class="description__title">Excuse me while I gather my content.</span>
                            <span class="description__author">This is only temporary.</span>
                        </div>
                    {% endif %}
                    </div>
            </main>
            {% include "partials/_footer.njk" %}
    </body>
</html>