<!doctype html>
<html class="no-js" lang="">
    {% include "partials/_head.njk" %}
    <body>
        <div class="wrapper">
            {% include "partials/_navigation.njk" %}
    		<main>
                <div class="onepage--centered bottom-spacing--large">
                {{ content | safe }}
                </div>
            </main>
        </div>
            {% include "partials/_footer.njk" %}
    </body>
</html>