.reviewpage__cover {
    display: block;
    position: relative;
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.2), inset 0px -1px 1px 0px rgba(0,0,0,.2);
    border-radius: .15rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
}

.reviewpage__cover__shadow {
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: .5rem;
    filter: var(--filter-cover);
    opacity: .8;
    transform: scale(.8);
}