<!doctype html>
<html class="no-js" lang="">
    {% include "partials/_head.njk" %}
    <body>
    <div class="aurora">
    </div>
        {% include "partials/_navigation.njk" %}

        <div class="wrapper">
            {% set neighbors = collections.reviews | findReviewNeighbors(page.url) %}
            {% set nextReview = neighbors.nextReview %}

   		<main class="bottom-spacing--large">
                <section class="grid">
                    <div class="grid-span-6">
                    <h1>{{ title }}</h1>
                        {% if status == "reviewing" %}
                            {% include "partials/_emailform.njk" %}
                        {% endif %}

                        {{ content | safe }}
                    </div>
                    <div class="grid-span-6">
                        <div class="reviewpage">
                            <div class="reviewpage__cover__shadow" style="background-image: url('/assets/albumcovers/{{ mbid }}.jpg');"></div>
                            <div class="reviewpage__cover" style="background-image: url('/assets/albumcovers/{{ mbid }}.jpg');"></div>
                        </div>
                    </div>

                {% if nextReview %}
                    <div class="grid-span-6 next-review">
                        <a class="next-review-link--href" title="Navigate to next review" href="{{ nextReview.url }}"><span>Read my review of &ldquo;{{ nextReview.data.title }}&rdquo;</span></a>
                        <div class="next-review-link">
                                <h1>{{ nextReview.data.title }}</h1>
                                <div>{{ nextReview.templateContent | safe }}</div>
                        </div>
                    </div>
                    <div class="grid-span-6 next-review-link next-review next-review__cover">
                        <div class="reviewpage">
                            <div class="reviewpage__cover__shadow" style="background-image: url('/assets/albumcovers/{{ nextReview.data.mbid }}.jpg');"></div>
                            <div class="reviewpage__cover" style="background-image: url('/assets/albumcovers/{{ nextReview.data.mbid }}.jpg');"></div>
                        </div>
                    </div>
                    <div class="grid-clear"></div>
                {% endif %}

    		    </section>
                <section>
                    <div class="section-separator"></div>
                    <div class="reviewpage-grid__reviews">
                        <h1>Other Reviews</h1>
                        <span class="byline">Write-ups on music recordings</span>
                        <div class="reviews__grid">
                        {% if collections.reviews.length > 1 %}
                            {% for review in collections.reviews %}
                                {% if review.url !== page.url and review.data.status !== "reviewing" %}
                                    <a class="review" href="{{ review.url }}">
                                    <div class="review__cover__shadow" style="background-image: url('/assets/albumcovers/{{ review.data.mbid }}.jpg');"></div>
                                        <div class="review__cover" style="background-image: url('/assets/albumcovers/{{ review.data.mbid }}.jpg');"></div>
                                        <div class="review__description">
                                            <span class="description__title">{{ review.data.title }}</span>
                                            <span class="description__author">{{ review.data.author }}</span>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="review__description">
                                <span class="description__title">Excuse me while I gather my album reviews.</span>
                                <span class="description__author">This is only temporary.</span>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </section>
            </main>
            {% include "partials/_footer.njk" %}
        </div>
    </body>
</html>