---
title: Construction Corporation - Innovating in Construction Measurement Management
layout: "../_includes/base.njk"
projectcover: /project/construction/assets/case-study-construction-ui
company: "Bitfactory GmbH"
role: "Lead Designer"
projectdate: "2019 - 2021"
order: 2
---


{% include "partials/_projectheader.njk" %}

<section class="grid rowmargin--large">
    <div class="grid-span-6 paragraph--big maxcharacterlength--54">
        <p>As the lead designer for the [Construction Corporation] project, I focused on enhancing the efficiency of measuring and producing frames, doors, and gates for large construction projects. The project aimed to revolutionize traditional methods used in site measurements and architectural plan management.</p>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-4">
        <h2>The Challenge</h2>
    </div>
    <div class="grid-span-8">
        <p>Key challenges included:</p>
        <ul class="maxcharacterlength--54">   
            <li>Adapting to the physical demands of construction sites, with tools and processes suitable for workers in gloves and waterproof gear.</li>
            <li>Developing a system for efficient on-site measurements and real-time architectural plan updates.</li>
            <li>Improving communication between construction teams and architects, traditionally hampered by disjointed email and phone interactions.</li>
        </ul>
    </div>
        <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-6">
        <img loading="lazy" src="/project/construction/assets/case-study-construction-3.png" />
    </div>
    <div class="grid-span-6 rowmargin--medium">
        <img loading="lazy" src="/project/construction/assets/case-study-construction-2.png" />
    </div>
     <div class="grid-clear"></div>
    <div class="grid-span-4">
        <h2>My Role and Contribution</h2>
    </div>
    <div class="grid-span-8 maxcharacterlength--54">
        <p>My key responsibilities were:</p>
        <ul>   
        <li>Conducted extensive user research at various construction sites.</li>
        <li>Designed user interfaces for both the iPad application and the web application, focusing on usability in challenging site conditions.</li>
        <li>Managed stakeholder communications, ensuring the project aligned with user needs and business objectives.</li> 
        </ul>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-7">
        <img loading="lazy" src="/project/construction/assets/case-study-construction-1.png" />
    </div>
    <div class="grid-span-5 justify--center">
        <div>
            <h2>The Solution</h2>
            <p>Highlights of the platform:</p>
            <ul>
                <li>iPad Application: Designed for use with gloves, featuring Bluetooth connectivity for measurement tools and with that reducing neccessary interaction.</li>
                <li>Architect's Tool: An web-based application for uploading plans, planning routes, and streamlining feedback between architects and construction teams.</li>
            </ul>  
        </div>
    </div>
</section>

<section class="project__conclusion">
    <div class="grid">
        <div class="grid-span-6">
            <h2>A truly enriching experience</h2>
            <p class="paragraph--big maxcharacterlength--54">The project significantly improved measurement speed per project and streamlined communication between construction teams and architects. User feedback praised the system's efficiency and ease of use, marking a significant advancement over traditional methods.</p>
        </div>
        <div class="grid-span-2"></div>
        <div style="text-align: right" class="grid-span-4">
            <img loading="lazy" src="/project/construction/assets/matthias-nagel-geffrey-bos.jpg" class="styledimage" /><br>
            <span>Matthias and Geffrey at the construction site.</span>
        </div>
    </div>
</section>


{% include "partials/_projectnavigation.njk" %}