.aurora {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
    background-size: 100% 68%;
    background-image: linear-gradient(170deg,
    #1573DD 0%,
     rgba(21,115,221,0.96) 1%,
     rgba(21,115,221,0.87) 5%,
      rgba(21,115,221,0.74) 11%,
       rgba(21,115,221,0.58) 19%,
        rgba(21,115,221,0.42) 28%,
         rgba(21,115,221,0.26) 38%,
          rgba(21,115,221,0.13) 48%,
           rgba(21,115,221,0.04) 58%,
            rgba(21,115,221,0.00) 68%);
    background-repeat: no-repeat;
    animation: gradient-grow 20s infinite;
}

@keyframes gradient-grow {
    0%, 100% {
        opacity: .2;
        background-size: 100% 68%;
    }
    50% {
        opacity: .4;
        background-size: 100% 80%;
    }
  }