---
title: Smart Hotel Room
layout: "../_includes/layouts/base.njk"
projectcover: /project/hotel/assets/case-study-mkey-ui
company: "Bitfactory GmbH"
role: "Product Designer / UI Designer"
projectdate: "2019 - 2021"
order: 3
---

{% include "partials/_projectheader.njk" %}

<section class="grid rowmargin--large">
    <div class="grid-span-6 paragraph--big maxcharacterlength--54">
        <p>In my role with Success Hotel Group, I was tasked with designing a smart hotel platform, utilizing IoT to revolutionize guest check-in and room management.</p>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-4">
        <h2>The Challenge</h2>
    </div>
    <div class="grid-span-8">
        <p>Objectives included:</p>
        <ul class="maxcharacterlength--54">   
            <li>Streamlining check-ins via a lobby terminal.</li>
            <li>Providing options for accommodations and services.</li>
            <li>Developing a mobile app for guest-staff interaction and in-room control.</li>
        </ul>
    </div>
    <div class="grid-clear"></div>
    <div class="grid-span-10">
        <img loading="lazy" src="/project/hotel/assets/case-study-hotel-1.png" />
    </div>
     <div class="grid-clear"></div>
    <div class="grid-span-4">
        <h2>My Role and Contribution</h2>
    </div>
    <div class="grid-span-8">
        <p>My key responsibilities were:</p>
        <ul>   
        <li>UI design for terminal, web and mobile applications.</li>
        <li>Leading the overall product design for functionality and ease of use.</li>
        <li>Collaborating with hardware company on user experience of locks.</li> 
        </ul>
    </div>
    <div class="grid-clear rowmargin--medium"></div>
    <div class="grid-span-7">
        <img loading="lazy" src="/project/hotel/assets/case-study-hotel-2.png" />
    </div>
    <div class="grid-span-5 justify--center">
        <div>
            <h2>Platform Features</h2>
            <p>Highlights of the platform:</p>
            <ul>
                <li>Self-Service Terminal: For efficient check-in and service selections.</li>
                <li>Mobile App: Doubles as a digital room key and control hub for in-room devices.</li>
                <li>Staff Interface: A web-based tool for managing guest data and room availability.</li>
            </ul>  
        </div>
    </div>
</section>

<div style="display: flex; justify-content: center; margin: 4rem 4rem 8rem 4rem;">
    <img loading="lazy" class="styledimage" src="/project/hotel/assets/case-study-hotel-3.jpg" />
</div>

<section class="project__conclusion">
    <div class="grid">
        <div class="grid-span-6">
            <h2>Impact and Accolades</h2>
            <p class="paragraph--big maxcharacterlength--54">The project significantly improved hotel operations and guest satisfaction. It was recognized with three design award nominations, and won two. A testament to its innovative and user-centric design.</p>
            <img loading="lazy" style="margin-top: 1rem; width: 307px" src="/project/hotel/assets/accolates-for-mkey.png" />
        </div>
        <div class="grid-span-2"></div>
        <div style="text-align: right" class="grid-span-4">
            <img loading="lazy" src="/project/hotel/assets/hotel-management-terminal.png" style="max-width: 400px;" class="styledimage" /><br>
            <span>Initial designs of the terminal with keycard dispenser.</span>
        </div>
    </div>
</section>


{% include "partials/_projectnavigation.njk" %}