---
title: "About Geffrey van der Bos"
layout: "/layouts/base.njk"
nav: true
menutitle: About
order: 4
---

<section>
<div class="grid">
    <div class="grid-span-6">
       <h1 class="title--large">{{ title }}</h1>
       {{ "src/_content/aboutGeffrey.md" | markdownify | safe }}
       </div>

    <div class="grid-span-6">
        <div style="display: flex; align-items: center; flex-direction: column">
            <img src="{% imageUrl '/assets/geffrey-van-der-bos.webp', 480 %}"  width="480" height="auto"/>
            <div style="margin-top: 3rem;">
            <h3>Get in touch</h3>
            {% include "partials/_contactform.njk" %}
            </div>
        </div>
    </div>
    <div class="grid-span-12">
        <p class="maxcharacterlength--54">Below, you'll find kind words from the incredible colleagues I've had the privilege of working with.</p>
        <div class="dragging-playground">
        <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/fabian.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Fabian Heidelberg</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
           <p>I'm thrilled to provide a glowing testimonial for Geffrey and his outstanding design work. Geffrey's <mark>expertise in user-centered design, coupled with his keen product strategy insights</mark>, is truly remarkable. His ability to balance aesthetics and functionality is evident in every project he undertakes.</p>
            <p>Beyond his professional prowess, Geffrey's warm and witty personality makes collaborating with him an absolute joy. He's not only committed to enhancing his own skills, but he also actively uplifts those around him.</p> 
            <p>Geffrey's <mark>dedication to self-improvement</mark> and his unwavering pursuit of excellence make him a standout in the field.</p>
          </div>
        </div>
        
        <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/sally.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Sally Amin</span><br>
                  <span class="testimonial__relation">Geffrey was senior to Sally</span>
                </div>
            </div>
          <p>I got the pleasure to work under Geffrey&rsquo;s supervision for a year at Bitfactory. He has been of great influence to my learning experience as I get introduced to User Interface Design, and to the tech industry.</p>
          <p>Geffrey is a very eager learner himself and is always seeking knowledge - a way or another - which I find truly inspiring. For years he had worked hard on gaining all sorts of information and experience from all resources available to him when it comes to software engineering and technology, which in my opinion gives him a great edge as a Product Designer, and makes him a <mark>truly valuable asset to any cross-functional Scrum team.</mark> He is very knowledgable and committed to the best practices when it comes to UX design and makes sure only the best scenario is implemented. In other words, he brings the best of both worlds - Tech and Design.</p>
          <p>It should also be praised how he has got a <mark>hands on mentality</mark> that I&apos;ve personally learned a lot from. When in need, Geffrey creates his own solution. Which sparks the sense of ownership in both work related and personal projects.</p>
          <p><mark>As a leader, he watches closely and caters to his colleagues&rsquo; learning needs and experience,</mark> and is very happy to pass on all the knowledge he has. He is also very open to constructive feedback which makes working with him an enriching two-way experience. He is very loyal to his workplace and everyone he works with. He is a visionary at heart, and his <mark>high EQ allows him to find his voice with clients from all different backgrounds</mark>, which is a very crucial quality in a successful Designer.</p>
          <p>In addition, being with Geffrey on a daily basis in the workplace is truly fun, as he always brings <mark>great humor and positive spirit</mark> to everyone around. I&rsquo;m very grateful that Geffrey has chosen me to work with him and become a part of the Bitfactory family, and I definitely look forward to more learning and collaboration in the future.</p>
          </div>
         </div>

                  <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/varun.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Varun Shrivastav</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
          <p>Working with Geffrey was an was an excellent experience. The design work was always of great quality and with <mark>deep insight into the end-users' mind.</mark> Geffrey was always ready for an exchange of ideas and  <mark>quick to prototype ideas</mark>. All done with humor and cheer.</p>
          </div>
        </div>

         <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/henrik.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Henrik Hertler</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
          <p>Geffrey is absolutely fun to work with. He knows his way around people, he is good with the clients, does whatever it takes to help colleagues and gets things done. I would describe him as a really inspiring colleague, that is always willing to share best practices. Geffrey has the ability to <mark>work on multiple tasks and still be focused and deliver quality work</mark>. I highly recommend Geffrey as a Product Designer and would love to work together for some more years</p>
          </div>
        </div>

          <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/pranjal.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Pranjal Singh Rajput</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
          <p>I worked alongside Geffrey in the same team at Kaios.ai. I really cherished the time when we worked together. He was one of the nicest guys on our team, who knew the right <mark>balance to have productivity and fun in the workplace at the same time.</mark> He is the go-to person, with whom you can freely share your professional as well as personal stuff. Besides this, he is a <mark>pragmatic, customer focussed, and result-driven individual.</mark> One thing that I like about him is his inquisitive nature, the way he keeps himself up-to-date with the latest industry trends, standards, and best practices, and also motivates his peers to do the same. His good communication skills and <mark>diverse experience in different IT domains</mark> make him a great asset to any organization. Without any doubt, Geffrey is one of the best colleagues I have ever worked with. I wish him the very best in his future endeavors.</p>
          </div>
         </div>

        <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/arkajit.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Arkajit Bhattacharya</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
          <p>I have worked under Geffrey as a Software developer in Kaios for a period of 9 months.
                I thoroughly enjoyed working with him, and came to know him as a truly valuable asset to any organisation.
                During this period of 9 months, he <mark>constantly demonstrated his technical and communication skills</mark> as a Product owner and a scrum master.</p>
                <p>
                His down to earth personality helped us to approach him without any hesitation. 
                He has this great quality to <mark>focus on resolving issues and impediments to the progress of the team</mark>, and to make sure that all the issues are resolved within the stipulated time. He is a <mark>strategic thinker with a strong focus on what the customer needs</mark>. He introduced the way of scrum to the company and how to efficiently use it.</p>
                <p>He is detail oriented and have the <mark>tendency to ask the right questions and to make sure we are building the right product.</mark> He trusted his team and took care of all their needs in terms of time, resources and information. It is my absolute pleasure to recommend Geffrey for any lead position. I am confident that he will be a great addition to your organisation.</p>
                <p>You may feel free to contact me at [redacted for privacy] if I can be of any further assistance.</p>
              </p>
          </div>
        </div>

         <div id="draggable" class="draggable">
          <div class="drag-handle"></div>
          <div class="drag-scrollable">
            <div class="testimonial__author">
              <img class="testimonial__picture" src="{% imageUrl '/assets/testimonial-pictures/michal.jpeg', 42 %}" />
                <div>
                  <span class="testimonial__name">Michal Galeziowski</span><br>
                  <span class="testimonial__relation">Worked with Geffrey on the same team</span>
                </div>
            </div>
          <p>We worked together on few projects, I can truly say that Geffrey is one of the best professional I know. Customer success orientation is one of the key Geffrey mastered to perfection. <mark>Responsible and personal approach to projects</mark> which he works on proves that this guy really enjoys what he's doing. This makes him real professional and successful enhancements for every team. If I would establish my own company, Geffrey will be the first I want to have on board.</p>
          <p>He is a perfect listener as well as idea giver, <mark>with wide horizons on various tech, design and all related topic, always open for suggestions.</mark></p>
          <p>I see great success in his future career and I hope to work with him continuously or again in the future.</p>
          </div>
        </div>
    </div>
    </div>
</div>
</section>

<style>
    .dragging-playground {
        padding: 1rem;
        min-height: 1200px;
        position: relative;
    }

    .drag-handle {
    display: none;
    }

    .testimonial__author {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .testimonial__picture {
      display: block;
      width: 42px !important;
      height: 42px;
      border-radius: 50%;
      margin: 0 .75rem;
    }

    .testimonial__name {
      font-weight: 600;
    }

    .testimonial__relation {
      font-size: 90%;
      color: var(--color-foreground--muted)
    }

    .draggable {
        background-color: rgba(5,5,5,0.04);
        max-width: 420px;
        font-size: 90%;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        margin-bottom: 1rem; /* Add some space between elements on smaller screens */
        height: 400px;
        overflow: hidden;
        padding-bottom: 2rem;
    }

    .draggable mark {
      background-color: rgba(21, 115, 221, .4);
      color: inherit;
    }

    .drag-scrollable {
      padding: 1rem;
      height: 100%;
      overflow-y: scroll;
      box-sizing: border-box;
    }

    @media (min-width: 768px) { /* Adjust the min-width as needed */
    .draggable {
        position: absolute;
        touch-action: none;
        resize: vertical;
    }

       .drag-handle {
        cursor: move; /* Changes the cursor to indicate movability */
        padding-top: .5rem; /* Gives some space for easier dragging */
        text-align: center; /* Centers the dots or text */
        display: block;
    }

    .drag-handle::before {
        content: '⋮⋮⋮'; /* Three vertical dots */
        font-size: 20px; /* Adjust size as needed */
    }
}
</style>


<script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    if (window.innerWidth >= 768) {
        const draggables = document.querySelectorAll('.dragging-playground .draggable');
        const overlapOffset = 90; // Controls the initial staggered layout overlap
        let zIndex = 1000; // Starting z-index

        // Set initial positions for a staggered layout using translate
        draggables.forEach((draggable, index) => {
            const xOffset = overlapOffset * index;
            const yOffset = overlapOffset * index;
            draggable.style.transform = `translate(${xOffset}px, ${yOffset}px)`;
            draggable.setAttribute('data-x', xOffset);
            draggable.setAttribute('data-y', yOffset);
        });

        // Initialize interact.js for draggable elements
        interact('.draggable').draggable({
            inertia: true,
            allowFrom: '.drag-handle',
            modifiers: [
                interact.modifiers.restrictRect({
                    restriction: 'parent',
                    endOnly: true
                })
            ],
            onstart: function(event) {
                bringToFront(event.target.closest('.draggable'));
            },
            onmove: dragMoveListener,
        });

        // Initialize interact.js for resizable elements
        interact('.draggable').resizable({
            edges: { top: false, left: false, bottom: true, right: false },
            restrictSize: {
                min: { width: 100, height: 150 },
                max: { width: 600, height: 800 }
            },
        }).on('resizemove', resizeMoveListener);

        // Function to handle drag movements
        function dragMoveListener(event) {
            var target = event.target.closest('.draggable');
            var x = Math.round((parseFloat(target.getAttribute('data-x')) || 0) + event.dx);
            var y = Math.round((parseFloat(target.getAttribute('data-y')) || 0) + event.dy);

            target.style.transform = `translate(${x}px, ${y}px)`;
            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);
        }

        // Function to handle resize movements
        function resizeMoveListener(event) {
            var target = event.target;
            var x = Math.round((parseFloat(target.getAttribute('data-x')) || 0) + event.deltaRect.left);
            var y = Math.round((parseFloat(target.getAttribute('data-y')) || 0) + event.deltaRect.top);

            target.style.width = event.rect.width + 'px';
            target.style.height = event.rect.height + 'px';
            target.style.transform = `translate(${x}px, ${y}px)`;

            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);
        }

        // Function to bring the currently interacted element to the front
        function bringToFront(draggableElement) {
            draggableElement.style.zIndex = ++zIndex;
            draggables.forEach(d => d.classList.remove('top-most'));
            draggableElement.classList.add('top-most');
        }

        // Add event listeners to bring elements to front on click/touch of the draggable div
        draggables.forEach(draggable => {
            draggable.addEventListener('mousedown', () => bringToFront(draggable));
            draggable.addEventListener('touchstart', () => bringToFront(draggable));
        });
    }
});
</script>