---
title: "Concepts"
layout: "/layouts/base.njk"
pageDescription:  "My space where I share my ideas and tackle a weekly UI design challenge."
---
<div>
     {% include "partials/_introduction.njk" %}
    <section>
        <ul class="conceptsgrid">
            {% if collections.concepts.length > 0 %}
                {% for concept in collections.concepts %}
                <li>
                    <a class="conceptsgrid__link" href="{{ concept.url }}">
                        <div class="concept__cover" style="background-image: url('{{ concept.data.conceptcover }}');"></div>
                        <div class="conceptsinformation">
                            <span class="conceptsinformation__title">{{ concept.data.title }}</span>
                            <span class="conceptsinformation__metadata smalltext">{{ concept.data.category }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            {% else %}
            <li><strong>Here's where I'd put my concepts. If I had any 😤.</strong></li>
        {% endif %}
        </ul>
    </section>
</div>

<style>
.conceptsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: var(--grid-gap--standard);
    padding: 0;
    list-style: none;
    margin-bottom: 8rem;
}

.conceptsgrid__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.conceptsinformation {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.conceptsinformation__title {
    font-size: .8rem;
}

.conceptsinformation__metadata {
    font-size: 0.8rem;
}

.concept__cover {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 75%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: var(--border);
    will-change: auto;
    transition: background-size 5s cubic-bezier(0.25, 1, 0.5, 1);
}

.conceptsgrid__link:hover .concept__cover {
    background-size: 104%;
}


</style>