---
title: Portfolio
layout: "/layouts/base.njk"
menutitle: Home
---

<div class="homepage-grid">
    <div class="homepage-grid__introduction">
        <h2 class="introduction--first h-card"><span class="p-note"><span class="p-name">Geffrey van der Bos</a> is a digital product designer and amateur sociomusicologist</a></h2>
        <h2 class="introduction--second">
        <svg xmlns="http://www.w3.org/2000/svg" width="9.5" height="32"><path fill="#202020" fill-rule="evenodd" d="M4 0h1.5v27h4l-4.75 5L0 27h4V0Z"/></svg>
            &nbsp;a selection of digital products I helped realise
        </h2>
    </div>
    <div class="homepage-grid__notes">
        <h2>thoughts on music \ design \ life</h2>
        {% if collections.combinedNotesReviews.length > 0 %}
    <div class="notes__columns">
        <ul>
        {% for item in collections.combinedNotesReviews %}
            {% if item.data.mbid or item.data.status %}
                {# This item is identified as a review #}
                {% set url = item.url %}
                {% set mbid = item.data.mbid %}
                {% set title = item.data.title %}
                {% set author = item.data.author %}
                {% set status = item.data.status %}
                <li class="homepage-notes__item review-item" data-coverart="{% imageUrl 'assets/albumcovers/' + mbid +'.jpg', 200 %}" data-coverart-y-position="25">
                    <a class="homepage-notes__content" href="{{ url }}">
                        <img class="homepage-notes__coverart" src="{% imageUrl 'assets/albumcovers/' + mbid +'.jpg', 28 %}" width="28" height="28" alt="coverart of {{ title }}"><span class="homepage-notes__heading">{{ title }} by {{ author }}</span>
                    </a>
                </li>
            {% else %}
                {# This item is identified as a note #}
                <li class="homepage-notes__item">
                    <a class="homepage-notes__content" href="{{ item.url }}">
                        <span class="homepage-notes__heading">{{ item.data.title }}</span>
                    </a>
                    {% if item.data.popular %}
                        <span class="notes__populartag">Popular!</span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
        {% else %}
            <div class="review__description">
                <span class="description__title">Excuse me while I gather my content.</span>
                <span class="description__author">This is only temporary.</span>
            </div>
        {% endif %}
    </div>
    <div class="homepage-grid__projects">
        <h2 class="heading-on-mobile">
            a selection of digital products I helped realise
        </h2>
        {% for project in collections.projects %}
            <a class="project" href="{{ project.url }}">
                <div class="project__description">
                    <img class="project__cover" src="{% imageUrl project.data.projectcover + '.jpg', 796 %}" width="796" height="auto" /> 
                    <span>{{ project.data.title }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>