---
title: Portfolio
layout: "base.njk"
nav: true
menutitle: Home
order: 1
---

<section>
    <div class="introduction">
        <div class="introduction__title">
            <h1 class="title--large">
                {{ "src/_content/introductionTitle.md" | markdownify | safe }}
            </h1>
        </div>

        <div class="introduction__about paragraph--big">{{ "src/_content/introductionAbout.md" | markdownify | safe }}
        </div>
    </div>
</section>

<section class="homepage-grid">
    <div class="homepage-grid__projects">
        <h1>Selected Works</h1>
        <span class="byline">A selection of digital products I helped realise.</span>
        <div class="projects__grid">
            {% for project in collections.projects %}
                <a class="project" href="{{ project.url }}">
                <div class="project__cover lazy-loaded" data-bgimage="{{ project.data.projectcover }}--small.jpg"></div>
                <div class="project__description">
                    <span>{{ project.data.title }}</span>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="homepage-grid__notes">
        <h1>Notes</h1>
        <span class="byline">Thoughts on music, design, and life.</span>
        <ul class="homepage-notes">
        {% if collections.notes.length > 0 %}
            {% for note in collections.notes %}
            <li class="homepage-notes__item">
                <a class="homepage-notes__content" href="{{ note.url }}">
                    <span class="homepage-notes__heading">{{ note.data.title }}</span>
                </a>
            </li>
            {% endfor %}
        {% else %}
            <li style="text-align: center; margin: 0 2rem;"><strong>Here's where I'd put my notes. If I had any 😤.</strong></li>
        {% endif %}
        </ul>
    </div>
    <div class="homepage-grid__reviews bottom-spacing--large">
        <h1>Music Reviews</h1>
        <span class="byline">Write-ups on music recordings</span>
        {% include "partials/_musicreviewslist.njk" %}
    </div>
</section>