---
title: "Content under license CC BY-NC-SA 4.0 DEED"
layout: "/layouts/base.njk"
pageDescription: "Attribution-NonCommercial-ShareAlike 4.0 International (<a href=\"https://creativecommons.org/licenses/by-nc-sa/4.0/\" title=\"Read the Creative Commons license here.\">link to full license</a>)"
---

{% include "partials/_introduction.njk" %}
<div class="onepage--centered">

    <h2 id="rights">You are free to:</h2>
        <ol>
            <li>Share — copy and redistribute the material in any medium or format</li>
            <li>Adapt — remix, transform, and build upon the material</li>
        </ol>
        <p>The licensor cannot revoke these freedoms as long as you follow the license terms.</p>
        <h2>Under the following terms:</h2>
        <ol>
            <li>Attribution — You must give <a href="#ref-appropriate-credit" id="src-appropriate-credit">appropriate credit</a>, provide a link to the license, and
                <span rel="cc:requires" resource="http://creativecommons.org/ns#Notice"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/#ref-indicate-changes" id="src-indicate-changes">indicate if changes were made</a></span>. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
            </li>
            <li class="cc-nc">NonCommercial — You may not use the material for <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/#ref-commercial-purposes" id="src-commercial-purposes">commercial purposes</a>.
            </li>
            <li class="cc-sa">ShareAlike — If you remix, transform, or build upon the material, you must distribute your contributions under the <a href="#ref-same-license" id="src-same-license"> same license</a> as the original.
            </li>
            <li>No additional restrictions — You may not apply legal terms or <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/#ref-technological-measures" id="src-technological-measures"> technological measures</a> that legally restrict others from doing anything the license permits.</li>
        </ol>
        <h2>
        Notices:
        </h2>
        <p>You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/#ref-exception-or-limitation" id="src-exception-or-limitation"> exception or limitation</a>.</p>
        <p>No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/#ref-publicity-privacy-or-moral-rights" id="src-publicity-privacy-or-moral-rights">publicity, privacy, or moral rights</a> may limit how you use the material.
        </p>

        <p>Read the full license <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Read the Creative Commons license here.">here.</a></p>
</div>