---
title: "What I'm Listening To"
layout: "/layouts/base.njk"
nav: true
menutitle: Listening
order: 3
pageDescription: "<p>This is my real-time musical diary, a direct and uncurated reflection of the albums I'm enjoying. The albums displayed are automatically updated through&nbsp;<a href='https://listenbrainz.org/about/' rel='noopener' target='_blank' title='ListenBrainz their about page'>ListenBrainz</a>, which logs my listening activities across different platforms. Accompanying each album is its cover art, sourced from the <a href='https://coverartarchive.org/' rel='noopener' target='_blank'>Cover Art Archive</a> within the MusicBrainz database.</p>"
---

<div>

    {% include "partials/_introduction.njk" %}

    <section>
        <div class="grid bottom-spacing--large">
            <div class="grid-span-12">
                <h2>Album reviews</h2>
                <span>Write-ups on music</span>
               <div class="reviews__grid">
                  {% if collections.reviews.length > 0 %}
                      {% for review in collections.reviews %}
                      
                        {% set url = review.url %}
                        {% set mbid = review.data.mbid %}
                        {% set title = review.data.title %}
                        {% set author = review.data.author %}
                        {% set status = review.data.status %}
                        {% include "components/_reviewlistitem.njk" %}

                      {% endfor %}
                  {% else %}
                      <div class="review__description">
                          <span class="description__title">Excuse me while I gather my album reviews.</span>
                          <span class="description__author">This is only temporary.</span>
                      </div>
                  {% endif %}
              </div>
            </div>
            <div class="grid-span-12">
              <h2 style="margin-bottom: 0;">Listening Statistics</h2>
                <p class="smalltext byline" style="margin-top: 0;">Since the making of this website on 2024-01-08.</p>
                <div class="stats-grid" id="listeningStats">
                </div>
            </div>

            <div class="grid-span-12" style="min-height: 90vh;">
                <h2>Currently playing</h2>
                <ul id="listenList"></ul>
            </div>
        </div>
    </section>
</div>
<style>
  #listenList {
	font-family: inherit;
	color: inherit;
	list-style-type: none;
  display: grid;
  grid-gap: var(--grid-gap--standard);
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	padding: 1rem 0 0 0;
	margin: 0;
  }

  #listenList li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
  }

  #listenList li .metadata {
	color: #494949;
	margin-bottom: .35rem;
	display: block;
	font-size: 0.8rem !important;
	font-family: inherit;
  }

  #listenList li .metadata a {
	color: inherit;
  }

  #listenList li .title {
	font-size: inherit;
	font-family: "Nacelle-Regular", sans-serif;
  }

 #listenList li img {
	border-radius: 3px;
	width: 100px !important;
	height: 100px  !important;
	margin-right: 1rem;
}

.listenlist--fade-in {
    animation: fadeInAnimation 1.5s;
}

  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to { opacity: 1; }
  }

.faux-item {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(90deg, rgba(178, 181, 199, .3) 0px, rgba(215, 219, 231, .3) 40px, rgba(178, 181, 199, .3) 80px);
    background-size: 600px;
    border-radius: 3px;
    animation: shine-lines 1.6s infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

</style>

<script type="text/javascript" src="/scripts/fetchlisteningstats.js" defer></script>
<script type="text/javascript" src="/scripts/fetchalbums.js" defer></script>