---
title: "thoughts on music \\ design \\ life"
layout: "/layouts/base.njk"
nav: true
menutitle: Notes
order: 2
pageDescription:  ""
---
<div>
     {% include "partials/_introduction.njk" %}
    <div class="grid__notes">
        {% if collections.combinedNotesReviews.length > 0 %}
        <ul>
        {% for item in collections.combinedNotesReviews %}
            {% if item.data.mbid or item.data.status %}
                {# This item identifies as a review #}
                {% set url = item.url %}
                {% set mbid = item.data.mbid %}
                {% set title = item.data.title %}
                {% set author = item.data.author %}
                {% set status = item.data.status %}
                <li class="notes__item review-item" data-coverart="{% imageUrl 'assets/albumcovers/' + mbid +'.jpg', 200 %}" data-coverart-y-position="25">
                    <a class="notes__content" href="{{ url }}">
                        <img class="notes__coverart" src="{% imageUrl 'assets/albumcovers/' + mbid +'.jpg', 28 %}" width="28" height="28" alt="coverart of {{ title }}">
                        <span class="homepage-notes__heading">{{ title }} by {{ author }}</span>
                        <span style="margin-left: auto;" class="notes__category">review</span>
                    </a>
                </li>
            {% else %}
                {# This item identifies as a note #}
                <li class="notes__item">
                    <a class="notes__content" href="{{ item.url }}">
                        <span class="notes__heading">{{ item.data.title }}</span>
                        <span style="margin-left: auto;" class="notes__category">{{ item.data.category }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
            <div class="review__description">
                <span class="description__title">Excuse me while I gather my content.</span>
                <span class="description__author">This is only temporary.</span>
            </div>
        {% endif %}
    </div>
</div>