---
title: "Uses (hardware and software)"
layout: "/layouts/base.njk"
nav: true
menutitle: Uses
order: 4
pageDescription: "Inspired by Wes Bos his <a href='https://wesbos.com/uses' title='Wes Bos'>/uses</a> page. Below is an extensive list of all the things I cherish and recommend."
---

<div>
    {% include "partials/_introduction.njk" %}
    <section>
    <div class="grid bottom-spacing--large">
        <div class="grid-span-6">
            <h2 id="everyday-carry-edc-">Everyday Carry (EDC)</h2>
                <p><strong>Mobile Devices &amp; Accessories</strong></p>
                <ul>
                    <li>iPhone 15 (128 Gigabyte) <ul>
                    <li>Nomad&#39;s Modern Leather Case</li>
                    <li>Anker 610 Magnetic Phone Grip</li>
                </ul>
                </li>
                <li>Apple Airpods Pro 2 (Lightning) <ul>
                <li>Native Union Leather Case for AirPods Pro</li>
                </ul>
                </li>
                <li>Apple Watch Series 7 Stainless Steel 41mm (Graphite) <ul>
                <li>Nomad Stainless Steel Watch Band</li>
                </ul>
                </li>
                <li>LARQ Bottle Movement PureVis™ Obsidian Black
                    <ul>
                    <li>Active Loop for Larq bottle</li>
                    </ul>
                </li>
                <li>Secrid leather wallet
                </li>
                </ul>
                <h2 id="technology-gadgets">Technology &amp; Gadgets</h2>
                <p><strong>Audio Equipment</strong></p>
                <ul>
                <li>Philips SHP9600 Headphones (office)</li>
                <li>Edifier R1080BT Speakers (office)</li>
                <li>FiiO K3 (USB-C) (office)</li>
                <li>KEF Q100 (Black) Speakers (living room)</li>
                <li>SMSL Q5 Pro Amplifier (living room)</li>
                </ul>
                <p><strong>Computers &amp; Peripherals</strong></p>
                <ul>
                <li>MacBook Air M1, 2020</li>
                <li>Non-brand Vertical Stand from Aliexpress</li>
                <li>Razer Kiyoo X Webcam (Can&#39;t recommend)</li>
                <li>Nuphy Air75 Mechanical Keyboard</li>
                <li>MX Master 3 Mouse</li>
                <li>AOC Q2790PQE on Monitor Arm</li>
                <li>Dell Dock -- WD19S 180W (From work)</li>
                <li>HP t630 Thin Client as &#39;Homeserver&#39;<ul>
                <li>Upgraded with 256 Samsung SSD</li>
                </ul>
                </li>
                <li>iPad Pro 11&quot; 2019<ul>
                <li>Apple Pencil 2</li>
                <li>Apple Magic Keyboard</li>
                </ul>
                </li>
                </ul>
                <h2 id="home-lifestyle">Home &amp; Lifestyle</h2>
                <p><strong>Health &amp; Fitness</strong></p>
                <ul>
                <li>Liftin&#39; (Weight Training Tracker App)</li>
                <li>Apple Health (tracking workouts and meditation)</li>
                <li>Huel Black Salted Caramel (fuel)</li>
                <li>Daily supplements:<ul>
                <li>Apigenin,</li>
                <li>Magnesium Biglycinaat,</li>
                <li>L-Lysine,</li>
                <li>Fish Oil capsules</li>
                </ul>
                </li>
                </ul>
                <p><strong>Entertainment &amp; Media</strong></p>
                <ul>
                <li>Spotify / Apple Music / Tidal</li>
                <li>Bandcamp</li>
                <li>Amazon Prime (movies/series)</li>
                <li>myNoise (Ambient Sound App)</li>
                <li>MusicHarbor</li>
                <li>MusicBox</li>
                <li>MusicSmart</li>
                <li>XBox Series S</li>
                <li>Nintendo Switch</li>
                <li>Miyoo Mini<ul>
                <li>OnionOS + Self-made theme</li>
                <li>Black buttons mod</li>
                </ul>
                </li>
                </ul>
                <h2>Miscellaneous</h2>
                <p><strong>Chargers &amp; Power Solutions</strong></p>
                <ul>
                <li>UGREEN 65W Travel Charger</li>
                <li>Anker Nano 3</li>
                <li>Zens 4-in-1 MagSafe + Watch wireless charging station</li>
                <li>Zens 2-in-1 MagSafe + Watch travel charger</li>
                </ul>
        </div>
        <div class="grid-span-6">
            <h2 id="software-apps">Software &amp; Apps</h2>
                <p><strong>Productivity &amp; Tools</strong></p>
                <ul>
                <li>Arc Browser</li>
                <li>Obsidian.md</li>
                <li>iA Writer</li>
                <li>Alfred 4 (MacOS launcher and workflows)</li>
                <li>Tiles (for MacOS window management)</li>
                <li>KeepingYouAwake (Wake/Sleep manager MacOS)</li>
                <li>Hidden Bar (Menu bar icons management)</li>
                <li>Lulu (Outgoing connections blocker)</li>
                <li>Duplicati (Backups tool)</li>
                <li>VSCodium</li>
                <li>Serif Affinity Suite (Designer, Photo, Layout)</li>
                <li>PenPot (UI Design)</li>
                <li>Syncthing (File Syncing)</li>
                <li>Working Copy (Git on iOS/iPadOS)</li>
                </ul>
                <p><strong>Learning &amp; Research</strong></p>
                <ul>
                <li>Elicit.org</li>
                <li>Inciteful</li>
                <li>Zotero</li>
                <li>Omnivore (Read it Later)</li>
                <li>EdX</li>
                <li>Udemy</li>
                <li>Coursera</li>
                <li>Boox Leaf2 (e-reader)<ul>
                <li>Blocking telemetry w/ <a href="/note/controlling-boox-network-traffic/">NetGuard</a></li>
                </ul>
                </li>
                </ul>
                <p><strong>Utility</strong></p>
                <ul>
                <li>Parcel (Parcel Tracker app)</li>
                <li>Stocard (loyalty cards)</li>
                </ul>
                <p><strong>Persistent iPhone Apps</strong></p>
                <ul>
                <li>Snipd (Podcasts)</li>
                <li>Firefox Focus (Browser)</li>
                <li>2FAS Auth</li>
                <li>iA Writer</li>
                <li>Signal</li>
                <li>iMessage</li>
                <li>Telegram</li>
                <li>Whatsapp</li>
                <li>Instagram</li>
                <li>Linkedin</li>
                <li>Mona for Mastodon</li>
                </ul>
                <p><strong>Mobile &amp; Webservices</strong></p>
                <ul>
                <li>iCloud Services iCloud Drive</li>
                <li>Mail (Junk Email) </li>
                <li>Proton Services<ul>
                <li>Proton Mail (Formal email)</li>
                <li>Proton Drive (Cloud Storage)</li>
                <li>Proton Pass (Password Manager)</li>
                <li>Proton VPN</li>
                </ul>
                </li>
                <li>Simplelogin</li>
                <li>Enpass (Offline password storage/backup)</li>
                <li>Self-Hosting &amp; DIY Solutions<ul>
                <li>Duplicati (Backup to Backblaze Bucket)</li>
                <li>Scrypted (IP-Cameras to Homekit)</li>
                <li>Homebridge (Homekit Compatibility)</li>
                <li>Mealie (Meal Planner)</li>
                <li>Zigbee2MQTT with SONOFF ZigBee 3.0 USB Dongle Plus</li>
                <li>Cloudflare One (Secure Tunnels)</li>
                <li>Changedetection.io (Price Alerts/Government Alerts)</li>
                <li>Shairport (Airplay 2 KEF Speakers)</li>
                <li>Paperless NGX (Document Archive)</li>
                <li>Bookstack (Household Information)</li>
                <li>Huginn (IFTTT Alternative)</li>
                </ul>
                </li>
                </ul>

        </div>
    </div>
</div>