{# Metadata #}
<div style="display: none">
    <span value="{{ title }}" hidden class="p-name"></span>               
    <span value="{{ page.url}}" hidden class="u-url"></span>
    <div hidden class="h-card p-author">
        <span value="Geffrey van der Bos" class="p-name"></span>
        <span value="https://geff.re/about/" class="u-url"></span>
        <span value="{% imageUrl 'assets/avatar-geffrey-van-der-bos.jpg', 280 %}" class="u-photo"></data>
    </div>
</div>
{# End Metadata #}