
#contactForm {
    font-size: .9rem;
    max-width: 420px;
    margin-bottom: 2rem;
}

#contactForm label:not(.segmented-control label) {
    display: inline-block;
}

#contactForm input[type="text"] {
    width: 100%;
    padding: .3rem;
    margin: .3rem 0 1rem 0;
    color: var(--color-footer-foreground);
    font-size: 1rem;
    display: inline-block;
    background-color: transparent;
    border: 1px solid  var(--color-footer-foreground);
    box-sizing: border-box;
}

#contactForm .segmented-control {
    display: flex;
    border: 1px solid var(--color-footer-foreground);
    overflow: hidden;
    margin: .3rem 0 1rem 0;
}

#contactForm .segmented-control input[type="radio"] {
    display: none;
}

#contactForm .segmented-control label {
    flex: 1;
    padding: .3rem;
    text-align: center;
    background-color: transparent;
    border-right: 1px solid var(--color-footer-foreground);
    cursor: pointer;
    font-size: .8rem;
}

#contactForm .segmented-control label:last-child {
    border-right: none;
}

#contactForm .segmented-control input[type="radio"]:checked + label {
    background-color: var(--color-footer-foreground);
    color: var(--color-footer-background);
}

#contactForm .segmented-control label:hover {
    background-color: var(--color-contactform-segmented--hover);
}

#contactForm button[type="submit"] {
    width: 100%;
    background-color: var(--color-link);
    color: var(--color-contacform-button-label);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#contactForm button[type="submit"]:not(:disabled):hover {
    background-color: var(--color-link--hover);
}

#contactForm button[type="submit"]:disabled {
    opacity: .3;
    cursor: not-allowed;
}