<div class="blur-background">
    <div class="blur-background__text">
      <p>In the vast expanse of music criticism, a new voice resonates with clarity and depth, transforming the routine task of album reviewing into an art form. This connoisseur of sound delves beyond the surface, crafting reviews that are not mere evaluations but explorations into the heart of the music itself. His words, rich with insight and emotion, invite us on a journey through the melodies, rhythms, and lyrics, revealing the essence of each album with precision and passion.</p>

      <p>This is an invitation to join a community where music is not just heard, but felt and understood. By subscribing to their newsletter, you're not merely staying updated; you're enriching your musical journey with insights from a voice that transcends the ordinary, turning every review into an opportunity for discovery and connection with the transcendent power of music.</p>

    </div>
    <div class="signup-form">
      <h2>Curious about this review?</h2>
     <p>Sign up to receive the latest reviews, like this one, as soon as they're published!</p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/geffrey"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/geffrey', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
        <label for="bd-email">Enter your email</label>
        <input type="email" name="email" id="bd-email" />
        
        <input type="submit" value="Send Confirmation Email" />
        <p class="smalltext">
          Open inbox on 
            <a href="https://mail.google.com/mail/u/0/#search/from%3A(Geffrey+van+der+Bos)" title="Open your Gmail inbox and search for emails from Geffrey van der Bos">Gmail</a>
            , 
            <a href="https://outlook.live.com/mail/search?q=from%3AGeffrey+van+der+Bos" title="Search for Geffrey van der Bos in Outlook">Outlook</a>
            , 
            <a href="https://mail.yahoo.com/d/search/messages?searchTerm=Geffrey+van+der+Bos" title="Search for Geffrey van der Bos in Yahoo Mail">Yahoo</a>
            or 
            <a href="https://mail.protonmail.com/inbox" title="Open your ProtonMail inbox">ProtonMail</a>
            .<span class="poweredby">Newsletter powered by <a href="https://buttondown.email/refer/geffrey" target="_blank">Buttondown.</a></span>
        </p>
      </form>
    </div>
</div>
