.blur-background {
    position: relative;
    display: flex;
    justify-content: center; /* align items horizontally */
    overflow: hidden;
    margin-bottom: 2rem;
}

.blur-background__text {
    padding: 1rem;
    filter: blur(8px); /* Apply the blur effect */
    user-select: none; /* Prevent text selection */
    line-height: 1.8;
}

.signup-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 1.75rem;
    max-width: 480px; /* Adjust the width of the form as needed */
    z-index: 10; /* Ensure the form is above the blurred text */
    border-radius: .75rem;
    box-shadow: var(--shadow-color--hover) 0px 8px 30px -20px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: var(--background-glass);
    border: var(--border);
}

.embeddable-buttondown-form label {
    display: block;
}

.embeddable-buttondown-form input[type="email"] {
    width: 100%;
    padding: .3rem;
    margin: .3rem 0 1rem 0;
    color: var(--color-footer-foreground);
    font-size: 1rem;
    display: inline-block;
    background-color: hsla(225, 14%, 10%, 0.5);
    border: 1px solid  hsla(225, 14%, 40%, 0.47);
    border-radius: .2rem;
    box-sizing: border-box;
}

.embeddable-buttondown-form input[type="submit"] {
    width: 100%;
    background-color: var(--color-link);
    color: var(--color-contacform-button-label);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.embeddable-buttondown-form input[type="submit"]:not(:disabled):hover {
    background-color: var(--color-link--hover);
}

.embeddable-buttondown-form input[type="submit"]:disabled {
    opacity: .3;
    cursor: not-allowed;
}