    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} – Geffrey van der Bos</title>
        <link rel="stylesheet" href="{{ '/stylesheets/style.css' | url }}">
        <meta name="description" content="Geffrey is a digital product designer and amateur musicologist. He strives to shape technology that enhances the way we create and experience music.">
        <meta property="og:title" content="{{ title }} – Geffrey van der Bos">
        <meta property="og:url" content="https://geff.re{{ page.url | url }}">
        <meta property="og:image" content="{{ '/assets/ogimage-geffrey-van-der-bos.jpg' | url }}">
        <meta property="og:description" content="Geffrey is a digital product designer and amateur musicologist. He strives to shape technology that enhances the way we create and experience music.">
        <link rel="icon" href="{{ '/assets/favicon/favicon.ico' | url }}" sizes="any">
        <link rel="icon" href="{{ '/assets/favicon/icon.svg' | url }}" type="image/svg+xml">
        <meta name="theme-color" content="#464759">
    </head>