    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} – Geffrey van der Bos</title>
        <link rel="stylesheet" href="{{ '/stylesheets/style.css' | url }}">
        <meta name="description" content="">
        <meta property="og:title" content="{{ title }} – Geffrey van der Bos">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <link rel="icon" href="assets/favicon/favicon.ico" sizes="any">
        <link rel="icon" href="assets/favicon/icon.svg" type="image/svg+xml">
        <meta name="theme-color" content="#464759">
    </head>