    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} – Geffrey van der Bos</title>
        <link rel = "preload" href = "{{ '/stylesheets/style.css' | url | bust }}" type ="text/css" as="style" onload="this.onload = null; this.rel = 'stylesheet';"/>
        <meta name="description" content="Geffrey is a digital product designer and amateur musicologist. He strives to shape technology that enhances the way we create and experience music.">
        <meta property="og:title" content="{{ title }} – Geffrey van der Bos">
        <meta property="og:url" content="https://geff.re{{ page.url | url }}">
        <meta property="og:image" content="{{ '/assets/ogimage-geffrey-van-der-bos.jpg' | url }}">
        <meta property="og:description" content="Geffrey is a digital product designer and amateur musicologist. He strives to shape technology that enhances the way we create and experience music.">
        <link rel="icon" href="{{ '/assets/favicon/favicon.ico' | url }}" sizes="any">
        <link rel="icon" href="{{ '/assets/favicon/icon.svg' | url }}" type="image/svg+xml">
        <meta name="theme-color" content="#000">
        <style>
            :root {
                --color-background: hsl(225, 25%, 87%);
                --color-foreground: hsl(234, 71%, 3%);
                --color-gradient-background: linear-gradient(180deg, hsl(255,5%,97%) 0%, hsl(231,10%,87%) 100%);
            }
            .dark-mode {
                --color-background: hsl(225, 10%, 5%);
                --color-foreground: hsl(234, 10%, 93%);
                --color-gradient-background: linear-gradient(180deg, var(--color-background) 0%, var(--color-background) 100%);
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                if (localStorage.getItem('darkMode') === 'true' || (localStorage.getItem('darkMode') === null && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.body.classList.add('dark-mode');
                }
            });
        </script>
    </head>