<nav class="navigation">
  <ul class="navigation__list">
    {% for item in collections.navigation %}
      <li class="navigation__item">
        <a class="navigation__link {% if item.url === page.url %}navigation__link--active{% endif %}" href="{{ item.url }}"><span>{{ item.data.menutitle }}</span></a>
    </li>
    {% endfor %}
    <li class="navigation__item theme-toggle">
      <div class="theme-toggle__flexbox">
        <button id="themeToggle">  
            <svg id="icon-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>
        </button>
      </div>
    </li>
  </ul>
</nav>