<nav class="navigation">
  <ul class="navigation__list">
    {% for item in collections.navigation %}
      <li class="navigation__item">
        <a class="navigation__link {% if item.url === page.url %}navigation__link--active{% endif %}" href="{{ item.url }}"><span>{{ item.data.menutitle }}</span></a>
    </li>
    {% endfor %}
  </ul>
</nav>