.navigation {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    transition: top .65s ease-in-out;
    text-transform: lowercase;
    margin-bottom: 4rem;
}

@keyframes scrollHintAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(-60px); }
    100% { transform: translateX(0); }
}

@media screen and (max-width: 767px) {
  .navigation--animate {
      animation: scrollHintAnimation 3.4s 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.navigation::-webkit-scrollbar {
    display: none;
}

.navigation--project {
    position: fixed;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
}

.navigation__item {
    flex: 0 0 auto;
}

.navigation__link {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-right: 2rem;
}

.navigation__link span {
    position:relative; 
    z-index: 2;
}

.navigation__link:hover:before {
    opacity: 1;
}

.navigation__link.navigation__link--active {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
    }

    .navigation__list {
        max-width: var(--grid-width);
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: block;
        scroll-behavior: smooth;
    }

    .navigation__list {
        padding: 0;
        margin: .5rem;
    }

    .navigation__link,  .theme-toggle__flexbox {
        padding: 1rem;
    }

    .navigation__item:first-child .navigation__link  {
        padding-left: 1.5rem;
    }

    .navigation__item:last-child .navigation__link, .navigation__item:last-child .theme-toggle__flexbox {
        margin-right: 16px;
        padding-right: 1.5rem;
    }

    .navigation__item:last-child .theme-toggle__flexbox {
        padding-right: .5rem;
    }

    .theme-toggle__flexbox {
        padding: 1rem .5rem;
    }
}