<section class="homepage-grid__projects bottom-spacing--large">
    <h1>Selected Works</h1>
    <span  class="byline">A selection of digital products I helped realise.</span>
    <div class="projects__grid">
        {% for project in collections.projects %}
            {% if project.url !== page.url %}

                    {% set url = project.url %}
                    {% set title = project.data.title %}
                    {% set projectcover = project.data.projectcover %}
                    {% include "components/_projectlistitem.njk" %}

            {% endif %}
        {% endfor %}
    </div>
</section>