<div class="projectheader">
    <div data-tilt data-tilt-max="2" data-tilt-speed="1200" data-tilt-perspective="4000" data-tilt-glare data-tilt-max-glare=".07" data-tilt-reverse="true" >
        <img class="projectheader__image" src="{{ projectcover | url }}" />
    </div>
</div>
<section class="projectinformation grid">
    <h1 class="projectinformation__title title--large">
        {{ title }}
    </h1>
    <div class="projectinformation__metadata">
        Company: {{ company }}<br>
        Role: {{ role }}<br>
        Date: {{ projectdate }}
    </div>
</section>

<script type="text/javascript" src="/scripts/vanilla-tilt.min.js"></script>