<section class="">
    <div class="projects__grid">
        {% for project in collections.projects %}
            {% if project.url !== page.url %}
            <a class="project" href="{{ project.url }}">
                <div class="project__description">
                    <img class="project__cover" src="{% imageUrl project.data.projectcover + '.jpg', 796 %}" /> 
                    <span>{{ project.data.title }}</span>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</section>